@import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

button[type='submit'] {
  background-color: blueviolet;
  color: #fafafa;
  margin-left: 10px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
  color: #fafafa;
}

.gallery__image {
  height: 50%;
  width: 100%;
  object-fit: cover;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery__image:hover{
  transform: scale(1.3);
}



.gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.photo-card {
  width: 200px;
  height: 300px;
}


p {
  margin-top: 4px;
  margin-bottom: 0;
  text-align: left;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #212121;
  transition: var(--timing-function);
}




.load-more {
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-color: blueviolet;
  color: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  text-align: center;
  color: #212121;
  line-height: 1.5;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
